html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: $brand-gray;
    letter-spacing: -0.5px;

    & > main {
        padding-bottom: 45px;
    }

    &.home {
        & > main {
            padding-bottom: 0;
        }
    }
}
